.table{
    height: 100%;
}
.Table_h1{
    display: flex;
    justify-content: center;
    background-color: #777d6a;
}
.Table_main_div{
    display: flex;
    justify-content: center;
}
.Table_first_div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #999f8e;
}
.Table_second_div{
    width: 70%;
    background-color: #d2d8c7;
}
.Table_second_div h2{
    padding-left: 20px;
}
.Table_second_div p{
    padding-left: 20px;
}
.Last_div{
    display: flex;
    justify-content: center;
    background-color: #777d6a;
}